*{
    margin: 0;
}
body{
    background: linear-gradient(220.55deg, #EAEAEA 0%, #8B8B8B 100%);    /* background-color: #F0F2F5; */
    /* background-color: rgb(13, 23, 33); */
    /* color: rgba(26, 33, 48, 0.89); */
}

aaaaaaa{
    background-color: #F9F7F7;
    background-color: #DBE2EF;
    background-color: #3F72AF;
    background-color: #112D4E;
}
aaaaaa{
    background-color: #001F3F;
    background-color: #3A6D8C;
    background-color: #6A9AB0;
    background-color: #EAD8B1;
}
fsa{
    color: #ffffff;
    color: #506b72;
}